.cabecalho {
    width: 100vw;
    background-color: var(--cor-primaria);
    position: fixed;
    right: 0rem;
    left: 0rem;
}

.menu_lista {
    display: flex;
    justify-content: space-around;

}

.cabecalho_ul {
    display: flex;
    justify-content: center;
    gap: 3.1rem;
    padding-top: 0.6rem;
}

li,
.li {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--cor-terciaria);
}

.li:hover {
    font-size: 2rem;
}

@media(max-width:930px) {
    .li {
        font-size: 1.1rem;
    }
}

@media(max-width:785px) {
    .cabecalho {
        position: static;
        position: relative;
    }

    .cabecalho_ul {
        display: none;
    }

    .menu_lista {
        justify-content: end;
        padding: 30px 25px 0px 0px;
    }
}

@media(max-width:480px) {
    .menu_lista {
        padding: 20px 20px 0px 0px;
    }
}