@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --cor-primaria: #110f1a;
    --cor-secundaria: #1c3049;
    --cor-terciaria: #ca8e61;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--cor-secundaria);
    box-sizing: border-box;
    color: var(--cor-terciaria);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.cabecalho {
    background-color: var(--cor-primaria);
    height: 3.1rem;
    position: fixed;
    right: 0rem;
    left: 0rem;

}

.cabecalho_ul {
    display: flex;
    justify-content: center;
    gap: 3.1rem;
    padding-top: 0.6rem;
}

li,
.li {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--cor-terciaria);
}

.li:hover {
    font-size: 2rem;
}

.secao_dados {
    display: flex;
    justify-content: center;
    gap: 4.3rem;
    height: 45rem;
    background-color: var(--cor-primaria);
    padding-top: 10rem;
    width: 100vw;
}

.meus_dados_titulo {
    font-size: 6rem;
}

.meus_dados_titulo_subtitulo {
    padding: 0rem 0rem 3.7rem 0.4rem;
}

.contato {
    font-size: 2rem;
    padding: 0.4rem;
}

.meus_dados_titulo_paragrafo {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding-bottom: 0.75rem;
}

.foto_perfil {
    width: 25rem;
    height: 25rem;
    border-radius: 26.62rem;
    border: solid 0.25rem;
}

.foto_perfil_com_sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.87rem;
}

.sociais {
    display: flex;
    gap: 1rem;
}

.logo_linkedin,
.logo_github,
.logo_instagram {
    width: 3rem;
    height: 3rem;
    transition-duration: 0.5s;
}

.logo_linkedin:hover,
.logo_github:hover,
.logo_instagram:hover {
    width: 4.37rem;
    height: 4.37rem;
}

.secao_sobre_mim {
    display: flex;
    align-items: center;
    gap: 12.5rem;
    padding: 6.25rem 11.87rem;
}

.imagem_sobre_mim {
    width: 36.75rem;
    height: 37.5rem;
    object-fit: cover;
}

.sobre_mim_titulo {
    font-size: 1.87rem;
    padding-bottom: 2rem;
}

.sobre_mim_texto {
    font-size: 1.56rem;
    text-align: justify;
}

.formacao_titulo,
.experiencias_titulo,
.habilidades_titulo,
.interesses_titulo {
    font-size: 1.87rem;
    padding: 0rem 11.87rem;
}

.formacao_paragrafos,
.experiencias_paragrafos {
    display: flex;
    justify-content: center;
    gap: 21.75rem;
    padding: 2rem 12.5rem;
}

.formacao_paragrafo_gestao,
.formacao_paragrafo_alura,
.experiencias_paragrafo_alura,
.experiencias_paragrafo_desafio {
    font-size: 1.87rem;
    background-color: var(--cor-primaria);
    border-radius: 1.5rem;
    height: 11.18rem;
    width: 31.25rem;
    padding: 2rem;
    text-decoration: none;
}

.habilidades_logo,
.interesses_logo {
    padding: 2rem 11.87rem;
}

.rodape {
    height: 12.5rem;
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape_paragrafo {
    font-size: 1.25rem;
    padding: 1.56rem;
}

.rodape_autor {
    padding: 1.56rem;
    text-align: center;
}

@media(max-width:1566px) {
    .secao_dados {
        gap: 0rem;
    }

    .secao_sobre_mim {
        flex-direction: column;
        gap: 6rem;
    }

    .formacao_paragrafos,
    .experiencias_paragrafos {
        gap: 12rem;
        padding: 2rem 12.5rem;
    }

    .formacao_paragrafo_gestao,
    .formacao_paragrafo_alura,
    .experiencias_paragrafo_alura,
    .experiencias_paragrafo_desafio {
        padding: 3rem;
        font-size: 1.5rem;
    }
}

@media(max-width:1336px) {


    .formacao_paragrafo_gestao,
    .formacao_paragrafo_alura,
    .experiencias_paragrafo_alura,
    .experiencias_paragrafo_desafio {
        padding: 2rem;
        font-size: 1.5rem;
    }

}

@media(max-width:1197px) {

    .formacao_paragrafos,
    .experiencias_paragrafos {
        gap: 12rem;
        padding: 2rem 12.5rem;
    }

    .formacao_paragrafo_gestao, .formacao_paragrafo_alura,
    .experiencias_paragrafo_alura,
    .experiencias_paragrafo_desafio {
        padding: 1.5rem;
        font-size: 1.1rem;
    }
}

@media(max-width:930px){

}
