@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --cor-primaria: #110f1a;
    --cor-secundaria: #1c3049;
    --cor-terciaria: #ca8e61;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(--cor-secundaria);
    box-sizing: border-box;
    width: 100vw;
    color: var(--cor-terciaria);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.menu_lista{
    display: flex;
    justify-content:space-around;

}

.menu_mobile_icone{
    display: none;
}

.menu_mobile{
    display: none;
}

.cabecalho {
    width: 100vw;
    background-color: var(--cor-primaria);
    position: fixed;
    right: 0rem;
    left: 0rem;
}

.cabecalho_ul {
    display: flex;
    justify-content: center;
    gap: 3.1rem;
    padding-top: 0.6rem;
}

li,
.li {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--cor-terciaria);
}

.li:hover {
    font-size: 2rem;
}

.secao_dados {
    display: flex;
    justify-content: center;
    gap: 4.3rem;
    height: 45rem;
    background-color: var(--cor-primaria);
    padding-top: 10rem;
    width: 100vw;
}

.meus_dados_titulo {
    font-size: 6rem;
}

.meus_dados_titulo_subtitulo {
    padding: 0rem 0rem 3.7rem 0.4rem;
}

.contato {
    font-size: 2rem;
    padding: 0.4rem;
}

.meus_dados_titulo_paragrafo {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding-bottom: 0.75rem;
}

.foto_perfil {
    width: 25rem;
    height: 25rem;
    border-radius: 26.62rem;
    border: solid 0.25rem;
}

.foto_perfil_com_sociais {
     display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.87rem;
}

.sociais {
    display: flex;
    gap: 1rem;
}

.logo_linkedin,
.logo_github,
.logo_instagram {
    width: 3rem;
    height: 3rem;
    transition-duration: 0.5s;
}

.logo_linkedin:hover,
.logo_github:hover,
.logo_instagram:hover {
    width: 4.37rem;
    height: 4.37rem;
}

.secao_sobre_mim {
    display: flex;
    align-items: center;
    gap: 12.5rem;
    padding: 6.25rem 11.87rem;
}

.imagem_sobre_mim {
    width: 36.75rem;
    height: 37.5rem;
    object-fit: cover;
}

.sobre_mim_titulo {
    font-size: 1.87rem;
    padding-bottom: 2rem;
}

.sobre_mim_texto {
    font-size: 1.56rem;
    text-align: justify;
    text-indent: 2rem;
    margin-bottom: 1rem;
}

.formacao_titulo,
.experiencias_titulo,
.habilidades_titulo,
.interesses_titulo {
    font-size: 1.87rem;
    padding: 0rem 11.87rem;
}

.formacao_paragrafos,
.experiencias_paragrafos {
    display: flex;
    justify-content: center;
    gap: 21.75rem;
    padding: 2rem
}
.background-caixa, 
.background-caixa-interesses{
    font-size: 1.6rem;
    background-color: var(--cor-primaria);
    border-radius: 1.5rem;
    height: 11.18rem;
    width: 31.25rem;
    padding: 2rem;
}

.formacao_paragrafo_mobile,
.experiencias_paragrafo_mobile {
    background-color: var(--cor-primaria);
    font-size: 1rem;
    border-radius: 1.5rem;
    height: 8, 75rem;
    width: 23.6rem;
    padding: 1rem;
    display: none;
}

.habilidades_logo,
.interesses_logo {
    padding: 2rem 11.87rem;
}

.icone_interesses{
    cursor: pointer;
    width: 6.25rem;
    height: 6.25rem;
    transition-duration: 0.5s
}

.icone_interesses:hover{
    width: 130px;
    height: 130px;
}

.caixa_interesses{
    display: none;
}

.rodape {
    height: 12.5rem;
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.rodape_paragrafo {
    font-size: 1.25rem;
    padding: 1.56rem;
}

.rodape_autor {
    padding: 1.56rem;
    text-align: center;
}

@media(max-width:1566px) {
    .secao_dados {
        gap: 0rem;
    }

    .secao_sobre_mim {
        flex-direction: column;
        gap: 6rem;
    }

    .formacao_paragrafos,
    .experiencias_paragrafos {
        gap: 10rem;
        padding: 2rem 10.5rem;
    }

    .background-caixa,
    .background-caixa-interesses{
        padding: 2rem;
        font-size: 1.5rem;
    }
}

@media(max-width:1210px) {


    .background-caixa,
    .background-caixa-interesses {
        padding: 1rem;
        font-size: 1.2rem;
        height: auto;
    }

    .secao_sobre_mim {
        gap: 6rem;
        padding: 6rem 9rem;
    }

    .formacao_paragrafos,
    .experiencias_paragrafos {
        padding: 2rem 9rem;
    }
}

@media(max-width:930px) {
    .cabecalho_ul{
        display: none;
    }

    .menu_lista{
        justify-content: end;
        padding: 30px 25px 0px 0px;
    }

    .menu_mobile_icone{
        display: block;
    }

    .menu_mobile_icone button{
        background-color: var(--cor-secundaria);
        border: #ca8e61 3px solid;
        cursor: pointer;
    }

    .revelaElemento{
        display: block;
    }

    .menu_mobile_ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
        list-style: none;
    }

    .secao_sobre_mim{
        gap:4rem;
        padding: 3rem 9rem ;
    }

    .background-caixa {
        display: none;
    }

    .formacao_paragrafo_mobile,
    .experiencias_paragrafo_mobile {
        display: contents;
        display: var(--cor-primaria);
    }

    .hard_skills{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media(max-width:785px){
    .secao_dados {
        flex-direction:column-reverse;
        height: 59rem;
        padding-top: 0rem;
    }

    .meus_dados_titulo{
        display: flex;
        justify-content: center;
        font-size: 3rem;
    }

    .meus_dados_titulo_subtitulo{
        display: flex;
        justify-content: center;
    }

    .sociais{
        position: absolute;
        top: 850px;
    }

    .secao_sobre_mim{
        padding: 1rem;
    }

    .sobre_mim_texto{
        font-size: 1.4rem;
    }

    .imagem_sobre_mim{
        display: none;
    }
}

@media (max-width:690px) {
    .formacao_paragrafos,
    .experiencias_paragrafos{
        padding: 2rem 5rem;
    }

    .habilidade_icone,
    .icone_interesses{
        width: 3rem;
        height: 3rem;
    }

    .icone_interesses:hover{
        width: 4.3rem;
        height: 4.3rem;
    }

    .habilidades_logo,
    .interesses_logo {
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    }
    
}

@media(max-width:558px){
    .formacao_titulo,
    .experiencias_titulo,
    .habilidades_titulo,
    .interesses_titulo{
        padding: 0 5rem;
    }

    .formacao_paragrafos,
    .experiencias_paragrafos{
        padding: 1rem;
    }
}