@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --cor-primaria: #110f1a;
    --cor-secundaria: #1c3049;
    --cor-terciaria: #ca8e61;
}

body {
    background-color: var(--cor-secundaria);
    box-sizing: border-box;
    width: 100vw;
    color: var(--cor-terciaria);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

